.addQuestion_wrapper_take_exam {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.selector_wrapper,
.display_wrapper {
  width: 50%;
}
.selector_wrapper {
  position: sticky;
  top: 10%;
  padding: 10px 100px;
  margin: 0 auto;
}

@media (max-width: 789px) {
  .addQuestion_wrapper {
    flex-direction: column;
    justify-content: center;
  }
  .selector_wrapper,
  .display_wrapper {
    width: 100%;
    margin: auto;
  }
  .selector_wrapper {
    position: relative;
  }
}
